# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/server/

# Custom
/src/main/resources/assets/create/
jars
/libs/
/changelog.html
/fabric/changelog.html
/forge/changelog.html
/common/changelog.html
/recent_changelog.html
/fabric/recent_changelog.html
/forge/recent_changelog.html
/common/recent_changelog.html
/forge/libs/
.DS_Store

##################
# Dev's Personal #
##################

# Slimeist (techno-sam)
/build_archive/
/common/src/main/resources/assets/create/
/development_assets/venv/
/common/src/main/resources/assets/minecraft/textures/block/
/.architectury-transformer/
