name: Build Forge Release

on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      RELEASE_BUILD: true

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: temurin
          cache: gradle

      - name: Validate Gradle Wrapper Integrity
        uses: gradle/wrapper-validation-action@v1

      - name: Make Gradle wrapper executable
        run: chmod +x ./gradlew

      - name: Build & Release
        env:
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
          CURSEFORGE_TOKEN: ${{ secrets.CURSEFORGE_TOKEN }}
          MAVEN_TOKEN: ${{ secrets.MAVEN_TOKEN }}
        run: ./gradlew :forge:build :forge:publish :forge:publishMods