name: Build Release

on:
  workflow_dispatch:
    inputs:
      platform:
        type: choice
        description: Platform
        options:
          - fabric
          - forge
          - both

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      RELEASE_BUILD: true
      MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
      CURSEFORGE_TOKEN: ${{ secrets.CURSEFORGE_TOKEN }}
      MAVEN_TOKEN: ${{ secrets.MAVEN_TOKEN }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: temurin
          cache: gradle

      - name: Validate Gradle Wrapper Integrity
        uses: gradle/wrapper-validation-action@v1

      - name: Make Gradle wrapper executable
        run: chmod +x ./gradlew

      - name: Build & Publish Fabric or Forge
        if: ${{ inputs.platform }} == "fabric" || ${{ inputs.platform }} == "forge"
        run: ./gradlew :${{ inputs.platform }}:build :${{ inputs.platform }}:publish :${{ inputs.platform }}:publishMods

      - name: Build & Publish Both
        if: ${{ inputs.platform }} == both
        run: ./gradlew build :fabric:publish :forge:publish :fabric:publishMods :forge:publishMods